<main class="main">
  <div class="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Welcome to Metacritic!</h1>
        <div [ngStyle]="containerStyles">
          <div formArrayName="textBoxes" [ngStyle]="boxStyles">
            <label>Name</label>
            <div *ngFor="let textBox of textBoxes.controls; index as i">
              <input type="text" [formControlName]="i">
            </div>
          </div>
          <div formArrayName="scoreBoxes" [ngStyle]="boxStyles">
            <label>Guess</label>
            <div *ngFor="let scorebox of scoreBoxes.controls; index as i">
              <input type="text" [formControlName]="i">
            </div>
          </div>
          <div formArrayName="textBoxes" [ngStyle]="boxStyles">
            <label>Total Score</label>
            <div *ngFor="let name of textBoxes.controls; index as i">
              <label>{{name.getRawValue()}}:</label>
            </div>
          </div>
        </div>
        <button id="addPlayer" (click)="addTextBox()">Add Player</button>
        <button id="submit" type="submit">Submit</button>
      </form>
  </div>
</main>
